@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

body {
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

main {
    background: #47bafe;
    color: white;
    min-height: 100vh;
    padding: 100px;
}

.page-title {
    text-align: center;
}

.blog-articles {
    display: flex;
    align-items: center;
}

.blog-articles > article{
    background-color: white ;
    margin: 15px;
    border-radius:10px;
    box-shadow: 0px 0px 3px 0px #615757;
}

.img-wrapper img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.content {
    padding: 10px;
    margin-top: 0;
}

.content-title {
    color: #ff8c00;
}

.content-info {
    color: gray;
    display: flex;
    align-items: center;
}

.content-text {
    color: gray;
}

.content-info p {
    margin-top: 0;
    margin-bottom: 0;
}

.content-info p img {
    margin-right: 6px;
}

.content-info-calendar {
    margin-right: 15px;
}

.btn {
    color: #ff8c00;
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
}

.btn i {
    margin-left: 10px;
    margin-top: 2px;
}

.read-more {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    font-weight: bold;
    float: right;
    margin-top: 20px;
}

